/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3c4450;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #657285;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4a5463;
}

.active {
  color: rgba(255, 255, 255, 0.671);
}
