/* body {
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.clase-card {
  /* width: 350px;
  height: 380px; */
  display: inline-block;
  margin: 20px;
  width: 330px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 6px 12px #000000;
  overflow: hidden;
}

.content {
  margin-top: 2vh;
  max-width: 100%;
}

.mat-card-header {
  width: auto;
  background-color: #B1D0E0;
  padding: 5px;
  color: rgb(81, 94, 99);
  display: inline-block;
  justify-content: center;
}



.mat-card-content,
.mat-card-actions {
  color: rgb(81, 94, 99);
}

.mat-card-content p {
  color: #bec5c8;
  box-sizing: border-box;
  padding: 2px;

}

.FotoPerfil {
  height: auto;
  width: 320px;
  box-sizing: border-box;
  padding: 15px;

}

.clase-card:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
}

.contenedor {
  overflow: hidden;
}